<!-- O model serve para poder pegar o parâmetro "list" que foi passado no SellersController -->

@model IEnumerable<SalesWebMvc.Models.Seller>

@{
    ViewData["Title"] = "Sellers";
}

<br />
<div class="d-flex justify-content-between">
    <h2>@ViewData["Title"]</h2>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
</div>
<hr />
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseSalary)
            </th>
            <th>
                Actions:
            </th>
        </tr> 
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <!-- Abaixo, o chamo o item do for, e não o modelItem -->
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseSalary)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    &nbsp;|&nbsp;
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    &nbsp;|&nbsp;
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
